header {
    border: 1px solid black;
    width: 500px;
}

.logo {
    margin-top: 75px;
    margin-bottom: 50px;
}

.NavLink a {
    display: inline-block;
    margin-left: 30px;
}

.Layout-Content {
    border: 1px solid red;
    width: 500px;
}